.yellow-bg{
    background-color: yellow;
    text-decoration: underline;
}
.gray-bg{background-color: gray;}
#year{
    color: red;
    font-style: italic;
    font-weight: bold;
}
table,tr,td{
    border: 2px solid;
}
tr:hover{background-color: aqua;}